{extend name="public/base"/}

{block name="seo"}
<title>{$title|default="页面标题"}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
</head>
<body>
{/block}

{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		管理员管理
		<span class="c-gray en">&gt;</span>
		管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			
		{eq name="$Think.session.user_info.name" value="admin"}	
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l"> 
					<a href="javascript:;" onclick="unDelete()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量恢复
					</a> 

					<a href="javascript:;" onclick="batchDel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除
					</a>

					<a href="javascript:;" onclick="admin_add('添加管理员','{:url('user/adminAdd')}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员
					</a>
				</span>
				<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			</div>
         {/eq}

			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="9">管理员列表</th>
					</tr>
					<tr class="text-c">
						<th width="25">选项</th>
						<th width="40">ID</th>
						<th width="90">用户名</th>
						<th width="150">邮箱</th>
						<th width="150">角色</th>
						<th width="30">登录次数</th>
						<th width="130">上次登录时间</th>
						<th width="80">是否已启用</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>

{volist name="userlist" id="list"}
<tr class="text-c">
	<td><input type="checkbox" name="id" value="{$list.id}"> </td>
	<td>{$list.id}</td>
	<td>{$list.name}</td>
	<td>{$list.email}</td>
	<td>{$list.role}</td>
	<td>{$list.login_count}</td>
	<td>{$list.login_time}</td>

	<td class="td-status">
		<!-- 设置启用样式 -->
		{if condition="$list.status eq '已启用' "}
		<span class="label label-success radius">已启用</span>
		{else/}
		<span class="label label-success radius">{$list.status}</span>
		{/if}
	</td>

	<td class="td-manage">
		<!-- 只有超级管理员有停用和启用的权限 -->
		<!-- 切换启用和停用图标 -->
		{eq name="$Think.session.user_info.name" value="admin"}
		{if condition="$list.status eq '已启用'"}
		<a style="text-decoration:none" onClick="admin_stop(this,{$list.id})" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> 
		{else/}
		<a style="text-decoration:none" onClick="admin_start(this,{$list.id})" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe631;</i></a>
		{/if}
        {/eq}

		<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','{:url('user/adminEdit',['id'=>$list.id])}','900','500')" class="ml-5" style="text-decoration:none">
			    <i class="Hui-iconfont">&#xe6df;</i></a>
       
       {eq name="$Think.session.user_info.name" value="admin"}
	   <a title="删除" href="javascript:;" onclick="admin_del(this,{$list.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
	   {/eq}
	</td>

</tr>
{/volist}

				</tbody>
			</table>
		</article>
	</div>
</section>
{/block}


{block name="js"}
<script type="text/javascript">
/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.get("{:url('user/setStatus')}",{id:id});
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已停用</span>');
		$(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*管理员-启用*/
function admin_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.get("{:url('user/setStatus')}",{id:id});
		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
		$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		$(obj).remove();
		layer.msg('已启用!', {icon: 6,time:1000});
	});
}

//批量恢复实现
function unDelete(){
	    layer.confirm('确认要恢复吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.get("{:url('user/unDelete')}");
		//消失弹出一秒后消失
		layer.msg('已恢复!',{icon:1,time:1000});
        //重新加载页面,显示所有数据
		window.location.reload();
	});
}

/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.get("{:url('user/adminDel')}",{id:id},function(data){
			    var msg=data.message;
			    if(data.status==1){
			         //消失弹出一秒后消失
					layer.msg(msg,{icon:1,time:1000});
			        //重新加载页面,显示所有数据
					window.location.reload();
			    }else{
			    	 
			    	 layer.msg(msg,{icon:1,time:1000});
			    }
		});
		
	});
}

//批量化删除实现
function batchDel(obj){
	    layer.confirm('确认要删除这些用户吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		var id=new Array();
		$('input[name="id"]:checked').each(function(){
			id.push($(this).val());
		});
		$.get("{:url('user/batchDel')}",{id:id},function(data){
			      var msg=data.message;
			    if(data.status==1){
			         //消失弹出一秒后消失
					layer.msg(msg,{icon:1,time:1000});
			        //重新加载页面,显示所有数据
					window.location.reload();
			    }else{
			    	 
			    	 layer.msg(msg,{icon:1,time:1000});
			    }
               
		});
		
	});
}
</script> 
{/block}